$title-color: #003E9F; //#0F5DC1;

.brand-name {
  color: $title-color;
  margin: 1em;
  font-size: 2em;
}

.tagline-divider {
  margin: 10px auto;
  max-width: 250px;
  border-color: $title-color;
}

.title-box {
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 30px 15px;
  background: #fff;
  background: rgba(255, 255, 255, 0.6);
}

.section-box {
  padding: 0;
  & > div:first-of-type {
    font-size: 2em;
    font-weight: 600;
    color: $title-color;
    text-align: center;
    margin-bottom: 20px;
    padding: 80px 15px;
    background: #fff;
    background: rgba(255, 255, 255, 0.6);
  }
  &.left > div:first-of-type {
    margin-right: 0;
  }
  &.right > div:first-of-type {
    margin-right: 0;
  }
}

.recent-box {
  margin-bottom: 20px;
  padding: 10px;
  min-height: 400px;
  background: #fff;
  background: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .title-box {
    margin-top: 6%;
    background: rgba(255, 255, 255, 0.7);
  }

  .brand-name {
    font-size: 2em;
  }

  .section-box {
    & > div:first-of-type {
      background: rgba(255, 255, 255, 0.7);
    }
    &.left > div:first-of-type {
      margin-right: 10px;
    }
    &.right > div:first-of-type {
      margin-left: 10px;
    }
  }

  .recent-box {
    background: rgba(255, 255, 255, 0.7);
  }
}

@media screen and (min-width: 992px) {
  .title-box {
    margin-top: 8%;
  }

  .brand-name {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 1200px) {
  .title-box {
    margin-top: 8%;
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }

  .brand-name {
    font-size: 3em;
  }

  .section-box {
    & > div:first-of-type {
      padding: 120px 15px;
    }
  }
}