$title-color: #003E9F; //#0F5DC1;

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: image_url('bg-002.jpg') lightskyblue no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

p {
  font-size: 1.25em;
  line-height: 1.6;
  color: #000;
}

hr {
  max-width: 400px;
  border-color: #999999;
}

.brand-name {
  color: $title-color;
  margin: 1em;
  font-size: 2em;
}

.tagline-divider {
  margin: 10px auto;
  max-width: 250px;
  border-color: $title-color;
}

.title-box {
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 30px 15px;
  background: #fff;
  background: rgba(255, 255, 255, 0.6);
}

.section-box {
  padding: 0;
  & > div:first-of-type {
    font-size: 2em;
    font-weight: 600;
    color: $title-color;
    text-align: center;
    margin-bottom: 20px;
    padding: 80px 15px;
    background: #fff;
    background: rgba(255, 255, 255, 0.6);
  }
  &.left > div:first-of-type {
    margin-right: 0;
  }
  &.right > div:first-of-type {
    margin-right: 0;
  }
}

.recent-box {
  margin-bottom: 20px;
  padding: 10px;
  min-height: 400px;
  background: #fff;
  background: rgba(255, 255, 255, 0.6);
}

footer {
  margin-top: 2%;
  height: 60px;
  color: white;
  background: rgba(255, 255, 255, 0.0);
}

.row-no-padding {
  margin-left: 0;
  margin-right: 0;
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media screen and (min-width: 768px) {
  .title-box {
    margin-top: 6%;
    background: rgba(255, 255, 255, 0.7);
  }

  .brand-name {
    font-size: 2em;
  }

  .section-box {
    & > div:first-of-type {
      background: rgba(255, 255, 255, 0.7);
    }
    &.left > div:first-of-type {
      margin-right: 10px;
    }
    &.right > div:first-of-type {
      margin-left: 10px;
    }
  }

  .recent-box {
    background: rgba(255, 255, 255, 0.7);
  }
}

@media screen and (min-width: 992px) {
  .title-box {
    margin-top: 8%;
  }

  .brand-name {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 1200px) {
  .title-box {
    margin-top: 8%;
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }

  .brand-name {
    font-size: 3em;
  }

  .section-box {
    & > div:first-of-type {
      padding: 120px 15px;
    }
  }
}